#container {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	font-size: 0;
}


.grid {
	height: 10px;
	width: 10px;
	margin: 0;
	background-color: #405952;
	display: inline-block;

}

.active {
	background-color: #9C9B7A;
}

#menu {
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

button {
	height: 30px;
	text-align: center;
	font-size: 12px;
	font-family: Helvetica;
	padding: 5px;
}